.Slide-enter,.Slide-appear {
    transform: translateX(100%);
    opacity: 0;
    transition: all 500ms ease-in-out;
    display: block;
};
.Slide-enter-active,.Slide-appear-active {
    transform: translate(0);
    opacity: 1;
    transition: all 500ms ease-in-out;
    display: block;
};
.Slide-exit {
    transform: translate(0);
    opacity: 1;
    transition: all 500ms ease-in-out;
    display: block;
};
.Slide-exit-active {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 500ms ease-in-out;
    display: block;
};
.Slide-exit-done {
    display: none;
}