.div{
    width: 100%;
}
.header{
    z-index: 99;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0px 20px;
    height: 60px;
    background-color: #044581;
    box-sizing: border-box;
}
.header-content{
    width: 50%;
    margin: auto;
}
.header-item{
    margin-right: 20px;
    color: #fff;
    line-height: 60px;
}
.aside{
    position: sticky;
    top: 60px;
    background-color: #f4f4f4;
    width: 20%;
    overflow-y: auto;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    padding: 50px 20px 20px 20px;
}
.aside-item{
    display: block;
    line-height: 30px;
    color: #666;
}
.content{
    margin: auto;
    display: flex;
}
.router-view{
    width: 60%;
    max-width: 980px;
    margin-left: 5%;
    overflow: hidden;
}