* {
  margin: 0;
  padding: 0;
  transition: all .3s;
}
html,body{
  width: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button,i{
  cursor: pointer;
}
ul,li{
  list-style: none;
}

