* {
  margin: 0;
  padding: 0;
  transition: all .3s;
}
html,body{
  width: 100%;
}
html{
  height: 100%;
}
body{
  height: 100%;
}
#root{
  min-height: 100%;
  padding-bottom: 150px;
  position: relative;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button,i{
  cursor: pointer;
}
ul,li{
  list-style: none;
}

